#contact {
  background-color: var(--color-white);
}

.contact-form {
  width: 100%;

  padding: 0 24px;

  gap: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.contact-field {
  width: 100%;

  gap: 4px;
  display: flex;
  flex-direction: column;
}

.contact-field-label {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: var(--color-gray);
}

.contact-field-input {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 10px 8px;

  outline: 1px solid var(--color-gray);
  border-radius: 4px;
}

.contact-field-input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: var(--color-gray);
}

.contact-field-textarea {
  resize: none;
}

.contact-form-submit {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;

  background: var(--color-main);
  border-radius: 4px;

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  color: var(--color-white);
}

.contact-other {
  width: 100%;
  gap: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 0 24px;
}

.contact-other-title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  /* Black */

  color: var(--color-black);
}

.contact-other-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-other-content-left,
.contact-other-content-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
}

.contact-other-content-bar {
  width: 4px;
  height: 136px;

  background: var(--color-main);
  border-radius: 4px;
}

.contact-other-content-socialmedia {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 4px;
}

.contact-other-content-socialmedia a {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: var(--color-black);
}
