.notifications {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.notification {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 8px 0;

  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;

  color: #ffffff;
}
