#resellers {
}

.reventes-header-subtitle,
.reventes-header-title {
  color: var(--color-white);
}

.resellers-content {
  width: 100%;
  padding: 0 24px;
  gap: 1rem;
  display: grid;
  grid-template:
    "header"
    "map"
    "list";
  grid-template-columns: 1fr;
  justify-content: center;
  flex-direction: column;
}

.resellers-header {
  width: 100%;
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.resellers-header-left {
  gap: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.resellers-header-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: var(--color-white);
}

.resellers-header-arrow,
.resellers-header-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.resellers-header-wilaya {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  color: var(--color-white);
}

#resellers-header-wilaya-select {
  background-color: transparent;

  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  color: var(--color-white);
}

.resellers-header-right {
}

.resellers-map {
  grid-area: map;

  overflow: hidden;

  width: 100%;
  max-height: 500px;

  aspect-ratio: 1 / 1;

  background: var(--color-white);
  border-radius: 4px;
}

.resellers-list {
  grid-area: list;

  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*TODO: why icons aren't being colored ?*/
.reseller {
  gap: 8px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: var(--color-white);
  fill: var(--color-white);
}

.reseller-left,
.reseller-right {
  gap: 4px;
  display: flex;
}

.resellers-ask {
  font-style: italic;
  font-size: 14px;
  color: var(--color-white);
  text-decoration: none;
}

.resellers-ask span a {
  color: white;
  font-weight: bold;
  text-decoration: underline;
}

@media (min-width: 700px) {
  .resellers-content {
    grid-template:
      "header header"
      "map list";
    grid-template-columns: 1fr 1fr;
  }
}
